*.pyc
*.swp
.installed.cfg
*.ini
*.mo
apache/wsgi.conf
buildout/bin/
buildout/develop-eggs/
buildout/eggs/
buildout/parts/
geoadmin/static/build/*
MANIFEST
.coverage
geoadmin.egg-info
geoadmin/static/lib/geoadmin/src/ga/defs.js
prov/
.idea/
mf-next.iml
