*.pyc
*.swp
.installed.cfg
apache/wsgi.conf
buildout/bin/
buildout/develop-eggs/
buildout/eggs/
buildout/parts/
development.ini
production.ini
geoadmin/static/build/*
MANIFEST
geoadmin.egg-info
geoadmin/static/lib/geoadmin/src/ga/defs.js

