[buildout]
extends = buildout_dev.cfg

[vars]
instanceid = ltjeg
apache-entry-point = /${vars:instanceid}/
host = mf-next0t.bgdi.admin.ch
dbhost = pgcluster0t.bgdi.admin.ch
# output mode for closure compiler output. 'script' for single file, 'compiled' for compressed single file
closure-output-mode = compiled
# WHITESPACE_ONLY , SIMPLE_OPTIMIZATIONS (comparable, but better to jsbuild), ADVANCED_OPTIMIZATIONS (special coding guidelines need to be followed, externs defined, for this to work)
closure-compile-level = ADVANCED_OPTIMIZATIONS

[modwsgi]
config-file = ${buildout:directory}/development.ini

